.bodybg{
    -fx-background-image: url('/pictures/profile.jpeg');
    -fx-background-size: 100% 100%;
}

.text {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
